:root{
	--purpleOscuro: #09001A;
	--blancoBG: #F9F5FF;
	--blancotxt: #F0E4FE;
	--purple: #3A04A1;
}

/* Para tener un mejor manejo del tamaño de las tipografias, definir un tamaño estandar */
html {
	font-size: 18px;
}

/* Establecemos la familia de la fuente y el color */
body {
	background-color: #F9F5FF;
	font-family: Roboto;
	color: #09001A;
	font-weight: lighter;
}

/* Alineamos la clase titulo al centro y el tamaño será de 2.441rem. Es decir, el tamaño estandar de la fuente multiplicado por los rem
Ej: 18px * 2.441 */

.titulo {
	font-weight: 700;
	text-align: center;
	font-size: 2.441rem;
}

/* Estilos para el nav*/
.nav-bg {
	background-color: #3A04A1;
}

.main-nav {
	display: flex;
	justify-content: space-around;
}

.main-nav a {
	color: #F0E4FE;
	text-decoration-line: none;
	font-size: 1.5rem;
	padding: 1rem;
	font-weight: 200;
}

.main-nav a:hover {
	background-color: #F9F5FF;
	color: #09001A;
}

.nav-container {
	width: 75%;
	margin: 0 auto; 
}



