/* Para tener un mejor manejo del tamaño de las tipografias, definir un tamaño estandar */
html {
	font-size: 18px;
}

/* Establecemos la familia de la fuente y el color */
body {
	font-family: Roboto;
	color: #09001A;
}

/* Alineamos el h1 al centro y el tamaño será de 2.441rem, es decir el tamaño estandar de la fuente x los rem
Ej: 18px * 2.441 */
h1 {
	text-align: center;
	font-size: 2.441rem;
}

