:root{
	--purpleOscuro: #09001A;
	--blancoBG: #F9F5FF;
	--blancotxt: #F0E4FE;
	--purple: #3A04A1;
}

/* Para tener un mejor manejo del tamaño de las tipografias, definir un tamaño estandar */
html {
	font-size: 18px;
	box-sizing: border-box;
	scroll-snap-type: y mandatory;
}

/* Scroll Snap */
.services, .main-nav, .form-container {
	scroll-snap-align: center;
	scroll-snap-stop: always;
}

*, *:before, *:afer {
	box-sizing: inherit;
}

/* Establecemos la familia de la fuente y el color */
body {
	background-image: linear-gradient(to top, #F2E9FF 0%, #F9F5FF 100%) ;
	font-family: Roboto;
	color: #09001A;
	font-weight: lighter;
}

/* Alineamos la clase titulo al centro y el tamaño será de 2.441rem. Es decir, el tamaño estandar de la fuente multiplicado por los rem
Ej: 18px * 2.441 */

a {
	text-decoration-line: none;
}

.sombra {
	box-shadow: 0px 20px 20px -5px rgba(31,0,31,0.15);
	background-color: #fff;
	padding: 2rem;
	border-radius: 0.75rem;
}

.button {
	background-color: #7D05D0;
	color: #F0E4FE;
	padding: 1rem 2rem;
	margin-top: 1rem;
	font-size: 1rem;
	text-transform: uppercase;
	font-weight: bold;
	width: 50%;
	text-align: center;
	border-radius: 0.5rem;
	border: none;
}

.button:hover {
	cursor: pointer;
}

@media (min-width: 480px){
	.button {
		width: auto;
	}
}

.titulo {
	font-weight: 700;
	text-align: center;
	font-size: 2.441rem;
}

/* Estilos para el nav*/
.nav-bg {
	background-color: #3A04A1;
}

.main-nav {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-nav a {
	color: #F0E4FE;
	font-size: 1.5rem;
	padding: 0.5rem;
	font-weight: 200;
}

.main-nav a:hover {
	background-color: #F9F5FF;
	color: #09001A;
}

.container {
	width: 75%;
	margin: 0 auto; 
}

/* Media querie para el navbar*/
@media (min-width: 768px){
	.main-nav {
		flex-direction: row;
		justify-content: space-around;
	} 
}

/* Hero */
.hero-container {
	background-image: url("../img/header.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 20rem;
	padding: 1rem;
	position: relative;
	margin-bottom: 2rem;
}

/* Al aplicar display flex, alineamos horizontalmente con justify-content y verticalmente con align-items 

Cuando cambias el flex-direction a column, las alineaciones se hacen de manera inversa*/
.hero-content {
	position: absolute;
	background-color: #00000033;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	/* Centrar vertical y horizontalmente al centro*/
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.hero-content h2, 
.hero-content p,
.hero-content a {
	color: #F0E4FE;
}

.ubic {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

/* Servicios */

.services {
	display: grid;  
	grid-row-gap: 1rem;
}

@media (min-width: 768px){
	.services {
		grid-template-columns: repeat(3, 1fr);
		column-gap: 1rem;
	}
}

.service {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.service p {
	text-align: center;
	line-height: 2;
}

.service .icono {
	height: 125px;
	width: 125px;
	background-color: #F0E4FE;
	border-radius: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Formulario */

.form-container h2{
	text-align: center;
}
.formulario {
	width: min(10rem, 100%); /* Usa el valor mas pequeño*/
	margin: 0 auto;
}

.field {
	margin-bottom: 1rem;
}

.field input{
	padding: 0.5rem;
}

.field input[type="textarea"] {
	height: 5rem;
}

.enviar .button {
	width: 125%;
}

/* Footer*/
.footer {
	text-align: center;
}